

{{!-- Here we go --}}
<div style="background: url(../../images/bg9.jpg)" class="page-holder bg-cover">

<div class="login-form">
    <form action="/auth/signup" method="POST">
        <h2 class="text-center">Sign Up</h2>		       
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" placeholder="Username" required="required">
                {{!-- <input id="username" type="text" class="form-control" name="username" placeholder="Username" required="required"> --}}
                  {{!-- <input id="username" type="text" name="username" placeholder="Your username"> --}}
            </div>
        </div>
		    <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" required="required">
                {{!-- <input type="password" class="form-control" name="password" placeholder="Password" required="required"> --}}
                {{!-- <input id="password" type="password" name="password" placeholder="Your password"> --}}
            </div>
        </div>      
        <br>
          {{#if message }}
            <div class="error-message">{{ message }}</div>
          {{/if}}
        <br>  
        <div class="form-group">
          
            <button type="submit" class="btn btn-success btn-block login-btn">Create account</button>
        </div>
    </form>
    <div class="hint-text small">Do you already have an account? <a href="/auth/login" class="text-success">Login</a></div>
</div>


</div>
