

body {
  padding: 0px;
  //font-family: 'Lato', sans-serif;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #006B91;
  //text-decoration: none;
}

#racesMap {
  height: 70vh;
}