<h1>All races view en google maps</h1>
<div class="info">
  <h3>List of all races</h3>

<div class="info">
  <a href="/races/new">Create a new race</a>
  {{!-- <ul>
    {{#each races}}
    <li>
      <a href="/races/{{this._id}}">{{this.name}}</a> | <a href="/races/{{this._id}}/delete">Delete</a>
    </li>
    {{/each }}
  </ul> --}}
  <div id="racesMap"></div>
</div>




