<h1>One race detail</h1>


<div class="info">
  <h3>List of all races</h3>

  <div class="info">
    <a href="/races/new">Create a new race</a>
    {{!-- <ul>
    {{#each races}}
    <li>
      <a href="/races/{{this._id}}">{{this.name}}</a> | <a href="/races/{{this._id}}/delete">Delete</a>
    </li>
    {{/each }}
  </ul> --}}
    <div id="oneRaceMap"></div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="/javascripts/oneRaceMap.js"></script>
  <script src="/javascripts/script.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVldv6to51T5LpyubZPhnS-qOTsKu__CY&callback=initOneRaceMap"></script>